/* nav styling*/
:root {
  --side-panel: 170px;
  --side-color: white;
}

*, ::before, ::after {
  box-sizing: border-box;
}

:focus {
  outline: 2px solid #000000;
}

::-moz-focus-inner {
  border: 0;
}

body {
  position: relative;
  margin: 0;
  font-family: Arial, sans-serif;
}

p {
  font-size: 1.3em;
  line-height: 1.3;
}

.navMenu {
  width: var(--side-panel);
  color: var(--side-color);
  background: #000000;
  overflow: hidden;
  position: fixed;
  height: 100%;
  transition: width .4s linear;
  z-index: 10;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  color: inherit;
  padding: 0 5px;
  background: #333;
}

.hamburger {
  position: absolute;
  top: 10px;
  left: 12px;
  padding: 0 5px 4px;
  z-index: 12;
  transition: margin .4s linear;
}

.hamburger-z {
  z-index: 1;
}

.hidden {
  width: 0;
}

.vh {
  visibility: hidden;
}

button {
  font-size: 3em;
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 1.4em;
  line-height: 1.4;
  background: #000000;
}

ul li {
  padding: 5px 0;
}

.navMenu a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  font-size: 1.2em;
}

.navMenu a:hover {
  border-bottom: solid 1px;
}

main {
  padding: 1.2em;
  transition: margin-left .4s linear;
  position: relative;
  z-index: 1;
}

h1 {
  margin: 0;  
}

.main-right {
  padding-left: 4em;  
}

.menuOpen {
  margin-left: var(--side-panel);
}

.overlay {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  left: var(--side-panel);
  bottom: 0;
  background: rgba(0,0,0,.2);
  height: 100%;
}

@media (max-width: 480px) {
  .navMenu {
    width: 100%;
  }

  .menuOpen {
    margin-left: 0;
  }

}
/* nav styling ends*/

h1 {
  text-align: center;
}
body {
  margin: 100px;
  margin-top: 0px;
  background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
  font-family: arial, verdana, sans-serif;
}




/*cover images*/
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.flex-container-img {
  display: flex;

  /* define the flow direction and if we allow the items to wrap*/
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*cover images end*/